
<h1>Customers Table</h1>

<div>
<app-filter searchType="first_name" [data]="customersList" (filteredCustomersList)="setNewCustomerlist($event)"></app-filter>
<app-filter searchType="last_name"></app-filter>
<app-filter searchType="active"></app-filter>
</div>

<div>
<app-edit-add (dataHasChanged)="addCustomerParent($event)">
</app-edit-add>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date of Birth</th>
    <th>Active</th>
    <th>Edit Customer</th>
  </tr>

  <tr *ngFor="let customer of customersList">
    <td>{{customer.id}}</td>
    <td>{{customer.first_name}}</td>
    <td>{{customer.last_name}}</td>
    <td>{{customer.birth_date}}</td>
    <td>{{customer.active}}</td>
    <td>
      <button (click)="editCustomer(customer)">Edit</button>
      <button (click)="deleteCustomer(customer)">Delete</button>
    </td>
  </tr>



</table>
